.key-clrs{
  .key-clr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    .key{
      width: 30px;
      height: 30px;
      border-radius: 6px;
      margin-right: 10px;
      &.in-place{
        background-color: #1da779;
      }
      &.not-in-place{
        background-color: #fbaf24;
      }
      &.wrong{
        background-color: #f93535;
      }
    }
    .key-txt{
      font-size: 20px;
      font-weight: bold;
    }
  }
}